{% extends 'base.html' %}

{% block content %}
  <body>
    <h1>Welcome to our Homepage</h1>
    <p class="strokeme">
      Here you can buy various items such as pizza-cutter and clothing,<br>
      and if you are hungry, maybe add some pizza :)<br>
      <br>
      <h2> We make delcious Pizza!</h2>
      <p class="strokeme">Order some <a href="/menu">Here</a>
      <img src="/static/teaser.png" alt="teaserpic" width="400px" height="400px">
      <h2>Or visiout Our shop <a href="/shop">Here</a></h2>
  </body>
{% endblock %}
