{% extends 'base.html' %}

{% block content %}
<body>
  <h1>Shop</h1>
  <div class="row">
    {% for merch in merch %}
    <div class="column">
    <img class="pizza_picture" src="{{merch.image.url}}" alt="Image for Item">
        <h2 id="pizzatext"> {{ merch.name }}</h2>
        <p class="price">{{ merch.price }}$</p>
        <p class="toppings">{{merch.description}}</p>
        <div class="order_button">
          <button type="button" onclick="alert('This feature has not been added yet!')">Order Now</button>
        </div>
      </div>
      {% endfor %}

  </body>
{% endblock %}
